stages:
  - lint
  - test
  - build
  - deploy
  - review
  - dast
  - fuzz
  - staging
  - canary
  - production
  - incremental rollout 10%
  - incremental rollout 25%
  - incremental rollout 50%
  - incremental rollout 100%
  - performance
  - cleanup

docker-build:
  image: docker:latest
  stage: build
  services:
    - docker:dind
  before_script:
    - docker pull tonistiigi/binfmt:latest
    - docker run --privileged --rm tonistiigi/binfmt --uninstall qemu-*
    - docker run --privileged --rm tonistiigi/binfmt --install all
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - docker buildx create --use
    - docker buildx build -f Dockerfile --push --pull --platform linux/amd64,linux/arm64
       -t "${CI_REGISTRY_IMAGE}/${CI_COMMIT_BRANCH}:latest"
       -t "${CI_REGISTRY_IMAGE}/${CI_COMMIT_BRANCH}:${CI_COMMIT_SHORT_SHA}" .
    - if [ "$CI_COMMIT_BRANCH" = "master" ]; then
       docker buildx build -f Dockerfile --push --pull --platform linux/amd64,linux/arm64
       -t "${CI_REGISTRY_IMAGE}:latest" .; fi;
  rules:
    - if: $PULL == "true"
      when: never
    - if: $CI_COMMIT_TAG
      when: never
    - if: $CI_COMMIT_BRANCH == "master" || $CI_COMMIT_BRANCH == "dev"
      exists:
        - Dockerfile
pull:
  image: alpine:latest
  before_script:
    - apk add git
    - git checkout dev
    - git remote set-url origin https://root:$gitlab_token@$CI_SERVER_HOST/$CI_PROJECT_PATH.git
    - git remote add upstream https://github.com/willnorris/imageproxy || git remote set-url upstream https://github.com/willnorris/imageproxy
    - git config --global user.email "bot@metahkg.org"
    - git config --global user.name "metahkg-bot"
    - git config pull.rebase false
    - git pull origin dev
  script:
    - |
      git fetch upstream
      git merge -X theirs upstream/main -m "Pull upstream"
      git push origin --all
  rules:
    - if: $PULL == "true"

test:
  stage: test
  image: gliderlabs/herokuish:latest-22
  allow_failure: true
  before_script:
    - apt-get update && apt-get install golang -y
    - curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.51.1
  rules:
    - if: $PULL == "true"
      when: never

build:
  stage: build
  allow_failure: true
  rules:
    - if: $PULL == "true"
      when: never

container_scanning:
  stage: review
  needs: [ "docker-build" ]
  variables:
    GIT_STRATEGY: fetch
    CI_APPLICATION_REPOSITORY: $CI_REGISTRY_IMAGE
    CI_APPLICATION_TAG: $CI_COMMIT_SHORT_SHA
    CLAIR_OUTPUT: High
  artifacts:
    paths:
      - gl-container-scanning-report.json
  rules:
    - if: $PULL == "true"
      when: never
    - if: $CI_COMMIT_TAG
      when: never
    - if: $CI_COMMIT_BRANCH == "master" || $CI_COMMIT_BRANCH == "dev"
      exists:
        - Dockerfile

include:
  - template: Auto-DevOps.gitlab-ci.yml
    rules:
      - if: $PULL != "true"
